@charset 'utf-8';
body{
    text-align: center;
}
.menulist{
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 50px auto;
        padding: 20px;
        font-size: 32px;
}
.normaltext{
    font-size: 32px;
}